@page "/AddCustomer"
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]
@using SeaEco.Abstractions.Models.Customer
@inject NavigationManager Navigation
@using SeaEco.Client.Resources

<h2 class="text-center mt-4 page-title">@Resources.PageAddCustomerAddCustomer</h2>

@code {
    
}