.typeRadio-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.cntr {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hidden-xs-up {
    display: none !important;
}

.cbx {
    position: relative;
    width: 27px;
    height: 27px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.cntr input[type="radio"]:checked + .cbx {
    border-color: transparent;
    background: dodgerblue;
    animation: jelly 0.6s ease;
}

.cntr input[type="radio"]:checked + .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.lbl {
    cursor: pointer;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.sensoryRadio-container {
    display: none;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    border-left: 4px solid dodgerblue;
    gap: 20px;
}

.sensoryInfo-container {
    background: #f5f5f5;
    padding: 20px;
    border-left: 4px solid dodgerblue;
    margin-top: 1rem;
}

.sensoryData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 1024px) {
    .sensoryData {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .sensoryData {
        grid-template-columns: 1fr;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
}

