@page "/testPage"
@using SeaEco.Abstractions.Models.Project

<h3>Test page for checkbox</h3>

<div class="typeRadio-container">
    <h5>Bunntype: </h5>
    
    <div class="cntr">
        <input type="radio" name="bunntype" id="cbx1" class="hidden-xs-up">
        <label for="cbx1" class="cbx"></label>
        <label for="cbx1" class="lbl">Bløt</label>
    </div>

    <div class="cntr">
        <input type="radio" name="bunntype" id="cbx2" class="hidden-xs-up">
        <label for="cbx2" class="cbx"></label>
        <label for="cbx2" class="lbl">Hard</label>
    </div>
</div>

<div id="sensoryRadio" class="sensoryRadio-container">
    <h5>Er sensorisk utført?</h5>

    <div class="cntr">
        <input type="radio" name="sensorisk" id="cbx3" class="hidden-xs-up">
        <label for="cbx3" class="cbx"></label>
        <label for="cbx3" class="lbl">Ja</label>
    </div>

    <div class="cntr">
        <input type="radio" name="sensorisk" id="cbx4" class="hidden-xs-up">
        <label for="cbx4" class="cbx"></label>
        <label for="cbx4" class="lbl">Nei</label>
    </div>
</div>

<div id="sensoryInfo" class="sensoryInfo-container">
    <EditForm Model="_sensoryDto">
        <DataAnnotationsValidator />
        <div class="sensoryData">
            <div class="form-group">
                <label for="ProvePh">pH:</label>
                <InputNumber id="ProvePh" class="form-control" @bind-Value="_sensoryDto.ProvePh" />
            </div>

            <div class="form-group">
                <label for="ProveEh">EH:</label>
                <InputNumber id="ProveEh" class="form-control" @bind-Value="_sensoryDto.ProveEh" />
            </div>

            <div class="form-group">
                <label for="ProveTemp">Temp:</label>
                <InputNumber id="ProveTemp" class="form-control" @bind-Value="_sensoryDto.ProveTemp" />
            </div>

            <div class="form-group">
                <label for="Farge">Farge:</label>
                <InputSelect id="Farge" class="form-select" @bind-Value="_sensoryDto.Farge">
                    <option value="false">Lys grå</option>
                    <option value="true">Brunn/svart</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="Lukt">Lukt:</label>
                <InputSelect id="Lukt" class="form-select" @bind-Value="_sensoryDto.Lukt">
                    <option value="0">Ingen</option>
                    <option value="2">Noe</option>
                    <option value="4">Sterk</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="Konsistens">Konsistens:</label>
                <InputSelect id="Konsistens" class="form-select" @bind-Value="_sensoryDto.Konsistens">
                    <option value="0">Fast</option>
                    <option value="2">Myk</option>
                    <option value="4">Løs</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="GrabbVolum">GrabbVolum:</label>
                <InputSelect id="GrabbVolum" class="form-select" @bind-Value="_sensoryDto.Grabbvolum">
                    <option value="0">0 - 1/4</option>
                    <option value="1">1/4 - 3/4</option>
                    <option value="2">Mer enn 3/4</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="Tykkelse">Tykkelse:</label>
                <InputSelect id="Tykkelse" class="form-select" @bind-Value="_sensoryDto.Tykkelseslamlag">
                    <option value="0">0 - 2cm</option>
                    <option value="1">2 - 8cm</option>
                    <option value="2">Mer enn 8cm</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="Gassbobler">Gassbobler:</label>
                <InputSelect id="Gassbobler" class="form-select" @bind-Value="_sensoryDto.Gassbobler">
                    <option value="4">Ja</option>
                    <option value="0">Nei</option>
                </InputSelect>
            </div>
        </div>
    </EditForm>
</div>



<script>
    const radioSoft = document.getElementById("cbx1")
    const radioHard = document.getElementById("cbx2");
    const sensoryQuestion = document.getElementById("sensoryRadio");
    
    const radioYes = document.getElementById("cbx3")
    const radioNo = document.getElementById("cbx4")
    const sensoryInfo = document.getElementById("sensoryInfo")
    
    function updateDisplay() {
        if (radioHard.checked) {
            sensoryQuestion.style.display = "flex";
            
            if (radioYes.checked) {
                sensoryInfo.style.display = "flex";
            }
            else {
                sensoryInfo.style.display = "none";
            }
        }
        else if (radioSoft.checked) {
            sensoryQuestion.style.display = "none";
            sensoryInfo.style.display = "flex";
        }
        else {
            sensoryQuestion.style.display = "none";
            sensoryInfo.style.display = "none";
        }
    }
    
    radioSoft.addEventListener("change", updateDisplay);
    radioHard.addEventListener("change", updateDisplay);
    radioYes.addEventListener("change", updateDisplay);
    radioNo.addEventListener("change", updateDisplay);
    
    updateDisplay();
</script>

@code {
    private BSensoryDto _sensoryDto = new();
}