@page "/user"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<div class="d-flex flex-column align-items-center">
    <div class="mb-3">
        <h3>Alle brukere</h3>
    </div>

    <NavLink href="/registerUser" >+ Ny bruker</NavLink>
</div>

@code {

    

}